<form class="constructor">
    <article class="coctail">
        <section class="coctail-logo-view">
            <input id="name" type="text" class="name" placeholder="Coctail Name"/>
            <div id="img" class="img"></div>
        </section>
        <section class="coctail-recipe-view">
            <h3>Recipe</h3>
            <div class="ingredients">
                <div id="ingrs"></div>
                <a id="btn-add-ingredient" class="btn">Add</a>
            </div>
        </section>
        <section class="coctail-desc-view">
            <h3>Description</h3>
            <textarea id="desc" class="text area" placeholder="Enter your coctail description"></textarea>
        </section>
    </article>
    <button id="btn-publish" class="btn">Publish</button>
</form>