<div class="coctail-view">
    <div class="coctail-wrap">
        <article class="coctail">
            <section class="coctail-logo-view">
                <h3 id="name" class="name"></h3>
                <span id="by" class="by"></span>
                <img id="img" class="img" src="/static/images/coctail_demo.png"/>
                <div id="rating" class="rating"></div>
            </section>
            <section class="coctail-recipe-view">
                <h3>Recipe</h3>
                <div id="ingredients" class="ingredients"></div>
            </section>
            <section class="coctail-desc-view">
                <h3>Description</h3>
                <p id="desc"></p>
            </section>
        </article>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <div id="comments" class="list"></div>
    </div>
</div>