<div class="coctail-view">
    <div class="coctail-wrap">
        <article class="coctail">
            <section class="coctail-logo-view">
                <h3 id="name" class="name"></h3>
                <span id="by" class="by"></span>
                <div id="img" class="img"></div>
                <div id="rating" class="rating"></div>
            </section>
            <section class="coctail-recipe-view">
                <h3>Recipe</h3>
                <div id="ingredients" class="ingredients"></div>
            </section>
            <section class="coctail-desc-view">
                <h3>Description</h3>
                <p id="desc"></p>
            </section>
        </article>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <div class="list">
            <div id="comments" style="width: 100%;"></div>
            <a id="add-comment" class="btn">Add Comment</a>
        </div>
    </div>
</div>